.activity{
  .hd_jj{
    background-image: url(../img/wl.jpg);
    background-position: left bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    .hd_lb{
      width: 50%;
      margin: 0 auto;
      .swiper-wrapper{
        .swiper-slide{
          img{
            box-sizing: border-box;
            border: 8px solid #fff;
          }
        }
      }
    }
  }
  .i_about_by{
    margin-bottom: 4%;
    img{
      width: 11%;
    }
  }
  p{
    max-width: 50%;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5%;
    text-align: center;
    color: #727171;
  }
  .hd_ser{
    padding: 5% 0;
    position: relative;
    .col-md-5{
      box-sizing: border-box;
      .hd_room{
        p{
          text-align: center;
          line-height: 2em;
          i{
            font-size: 2em;
            color: #bdb9bd;
          }
          span{
            color: #555;
            font-size: 0.8em;
          }
        }
      }
      h2{
        font-size: 0.8em;
        color: #717171;
        letter-spacing: 3px;
      }
      h1{
        font-size: 2em;
        color: #000;
        font-weight: bold;
        margin-bottom: 20%;
      }
    }
  }
}
