.activity{
  .hd_jj{
    background-image: url(../img/wl.jpg);
    background-position: left bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    .hd_lb{
      width: 50%;
      margin: 0 auto;
      .swiper-wrapper{
        .swiper-slide{
          img{
            box-sizing: border-box;
            border: 8px solid #fff;
          }
        }
      }
    }
  }
  .i_about_by{
    margin-bottom: 4%;
    img{
      width: 11%;
    }
  }
  p{
    max-width: 50%;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5%;
    text-align: center;
    color: #727171;
  }
}
