.top{
  width:100%;
  background:#3e3d3e;
  height:35px;
  line-height: 35px;
  p{
    font-size: 14px;
    color: #fff;
    text-align: right;
    a{
      color: #fff;
      margin:0 5px;
    }
  }
}
