<% var data = {
  title: "首页"
}; %>
  <%= _.template(require('../includes/header.html'))(data) %>
    <%= _.template(require('../includes/nav.html'))(data) %>
      <main>
        <article class="conference" data-main="conference">
          <section class="main-container business index-inner">
            <div class="i_ban swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url(img/erb_1.jpg);"></div>
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination"></div>
            </div>
            <div class="confer_h container-fluid">
              YBL BROADCAST INTERNATIONAL HOTEL
            </div>
            <div class="container confer_hy">
              <h2><span>会议服务</span></h2>
              <div class="i_video_bt">
                <img src="img/w4.png" alt="">
              </div>
              <p>
                酒店拥有7种不同类型的议场地，并配备专业多媒体设备，可承接贵宾 接待、高层会议、学术报告会、发布会、年会、内训团建等活动及会议，满足您的<br> 各类需求，其中白桦厅可为做为演播大厅，实况转播会议现场。
              </p>
            </div>
            <div class="container-fluid confer_main">
              <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12 confer_main_l" style="background-image: url(../img/con_1.jpg);">
                </div>
                <div class="col-md-8  col-sm-12 col-xs-12 confer_main_r">
                  <div class="confer_main_rl">
                    <dl>
                      <dt>
                        <h3><span>会议厅名称：白桦厅</span></h3>
                      </dt>
                      <dd>
                        <h4>基本信息</h4>
                        <table>
                          <tr>
                            <td>面积：432平方米</td>
                            <td>长/宽/高：24米/18米/14米</td>
                            <td>楼层：3层</td>
                          </tr>
                          <tr>
                            <td colspan="2">描述：可做剧场表演，专业的电影放映等，最大参会人员数量268人</td>
                            <td>布局信息：剧场式268人</td>
                          </tr>
                        </table>
                      </dd>
                      <dd>
                        <h4>设备特色</h4>
                        <table>
                          <tr>
                            <td>免费设备：有线麦克、麦克风、演讲台、指引牌、会场外签到台、功效、音响、投影仪、幕布、舞台</td>
                          </tr>
                          <tr>
                            <td>会议厅特色：暖气、层高3米以上（含3米）、地毯、前厅、方正、2010年新装修</td>
                          </tr>
                        </table>
                      </dd>

                    </dl>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12 confer_main_l" style="background-image: url(../img/con_2.jpg);">
                </div>
                <div class="col-md-8  col-sm-12 col-xs-12 confer_main_r">
                  <div class="confer_main_rl">
                    <dl>
                      <dt>
                        <h3><span>会议厅名称：白桦厅</span></h3>
                      </dt>
                      <dd>
                        <h4>基本信息</h4>
                        <table>
                          <tr>
                            <td>面积：432平方米</td>
                            <td>长/宽/高：24米/18米/14米</td>
                            <td>楼层：3层</td>
                          </tr>
                          <tr>
                            <td colspan="2">描述：可做剧场表演，专业的电影放映等，最大参会人员数量268人</td>
                            <td>布局信息：剧场式268人</td>
                          </tr>
                        </table>
                      </dd>
                      <dd>
                        <h4>设备特色</h4>
                        <table>
                          <tr>
                            <td>免费设备：有线麦克、麦克风、演讲台、指引牌、会场外签到台、功效、音响、投影仪、幕布、舞台</td>
                          </tr>
                          <tr>
                            <td>会议厅特色：暖气、层高3米以上（含3米）、地毯、前厅、方正、2010年新装修</td>
                          </tr>
                        </table>
                      </dd>

                    </dl>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12 confer_main_l" style="background-image: url(../img/con_3.jpg);">
                </div>
                <div class="col-md-8  col-sm-12 col-xs-12 confer_main_r">
                  <div class="confer_main_rl">
                    <dl>
                      <dt>
                        <h3><span>会议厅名称：白桦厅</span></h3>
                      </dt>
                      <dd>
                        <h4>基本信息</h4>
                        <table>
                          <tr>
                            <td>面积：432平方米</td>
                            <td>长/宽/高：24米/18米/14米</td>
                            <td>楼层：3层</td>
                          </tr>
                          <tr>
                            <td colspan="2">描述：可做剧场表演，专业的电影放映等，最大参会人员数量268人</td>
                            <td>布局信息：剧场式268人</td>
                          </tr>
                        </table>
                      </dd>
                      <dd>
                        <h4>设备特色</h4>
                        <table>
                          <tr>
                            <td>免费设备：有线麦克、麦克风、演讲台、指引牌、会场外签到台、功效、音响、投影仪、幕布、舞台</td>
                          </tr>
                          <tr>
                            <td>会议厅特色：暖气、层高3米以上（含3米）、地毯、前厅、方正、2010年新装修</td>
                          </tr>
                        </table>
                      </dd>

                    </dl>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12 confer_main_l" style="background-image: url(../img/con_4.jpg);">
                </div>
                <div class="col-md-8  col-sm-12 col-xs-12 confer_main_r">
                  <div class="confer_main_rl">
                    <dl>
                      <dt>
                        <h3><span>会议厅名称：白桦厅</span></h3>
                      </dt>
                      <dd>
                        <h4>基本信息</h4>
                        <table>
                          <tr>
                            <td>面积：432平方米</td>
                            <td>长/宽/高：24米/18米/14米</td>
                            <td>楼层：3层</td>
                          </tr>
                          <tr>
                            <td colspan="2">描述：可做剧场表演，专业的电影放映等，最大参会人员数量268人</td>
                            <td>布局信息：剧场式268人</td>
                          </tr>
                        </table>
                      </dd>
                      <dd>
                        <h4>设备特色</h4>
                        <table>
                          <tr>
                            <td>免费设备：有线麦克、麦克风、演讲台、指引牌、会场外签到台、功效、音响、投影仪、幕布、舞台</td>
                          </tr>
                          <tr>
                            <td>会议厅特色：暖气、层高3米以上（含3米）、地毯、前厅、方正、2010年新装修</td>
                          </tr>
                        </table>
                      </dd>

                    </dl>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12 confer_main_l" style="background-image: url(../img/con_5.jpg);">
                </div>
                <div class="col-md-8  col-sm-12 col-xs-12 confer_main_r">
                  <div class="confer_main_rl">
                    <dl>
                      <dt>
                        <h3><span>会议厅名称：白桦厅</span></h3>
                      </dt>
                      <dd>
                        <h4>基本信息</h4>
                        <table>
                          <tr>
                            <td>面积：432平方米</td>
                            <td>长/宽/高：24米/18米/14米</td>
                            <td>楼层：3层</td>
                          </tr>
                          <tr>
                            <td colspan="2">描述：可做剧场表演，专业的电影放映等，最大参会人员数量268人</td>
                            <td>布局信息：剧场式268人</td>
                          </tr>
                        </table>
                      </dd>
                      <dd>
                        <h4>设备特色</h4>
                        <table>
                          <tr>
                            <td>免费设备：有线麦克、麦克风、演讲台、指引牌、会场外签到台、功效、音响、投影仪、幕布、舞台</td>
                          </tr>
                          <tr>
                            <td>会议厅特色：暖气、层高3米以上（含3米）、地毯、前厅、方正、2010年新装修</td>
                          </tr>
                        </table>
                      </dd>

                    </dl>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12 confer_main_l" style="background-image: url(../img/con_6.jpg);">
                </div>
                <div class="col-md-8  col-sm-12 col-xs-12 confer_main_r">
                  <div class="confer_main_rl">
                    <dl>
                      <dt>
                        <h3><span>会议厅名称：白桦厅</span></h3>
                      </dt>
                      <dd>
                        <h4>基本信息</h4>
                        <table>
                          <tr>
                            <td>面积：432平方米</td>
                            <td>长/宽/高：24米/18米/14米</td>
                            <td>楼层：3层</td>
                          </tr>
                          <tr>
                            <td colspan="2">描述：可做剧场表演，专业的电影放映等，最大参会人员数量268人</td>
                            <td>布局信息：剧场式268人</td>
                          </tr>
                        </table>
                      </dd>
                      <dd>
                        <h4>设备特色</h4>
                        <table>
                          <tr>
                            <td>免费设备：有线麦克、麦克风、演讲台、指引牌、会场外签到台、功效、音响、投影仪、幕布、舞台</td>
                          </tr>
                          <tr>
                            <td>会议厅特色：暖气、层高3米以上（含3米）、地毯、前厅、方正、2010年新装修</td>
                          </tr>
                        </table>
                      </dd>

                    </dl>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12 confer_main_l" style="background-image: url(../img/con_7.jpg);">
                </div>
                <div class="col-md-8  col-sm-12 col-xs-12 confer_main_r">
                  <div class="confer_main_rl">
                    <dl>
                      <dt>
                        <h3><span>会议厅名称：白桦厅</span></h3>
                      </dt>
                      <dd>
                        <h4>基本信息</h4>
                        <table>
                          <tr>
                            <td>面积：432平方米</td>
                            <td>长/宽/高：24米/18米/14米</td>
                            <td>楼层：3层</td>
                          </tr>
                          <tr>
                            <td colspan="2">描述：可做剧场表演，专业的电影放映等，最大参会人员数量268人</td>
                            <td>布局信息：剧场式268人</td>
                          </tr>
                        </table>
                      </dd>
                      <dd>
                        <h4>设备特色</h4>
                        <table>
                          <tr>
                            <td>免费设备：有线麦克、麦克风、演讲台、指引牌、会场外签到台、功效、音响、投影仪、幕布、舞台</td>
                          </tr>
                          <tr>
                            <td>会议厅特色：暖气、层高3米以上（含3米）、地毯、前厅、方正、2010年新装修</td>
                          </tr>
                        </table>
                      </dd>

                    </dl>
                  </div>
                </div>
              </div>

            </div>
          </section>
        </article>
      </main>
      <%= _.template(require('../includes/footer.html'))(data) %>
