<% var data = {
  title: "酒店图片"
}; %>
  <%= _.template(require('../includes/header.html'))(data) %>
    <%= _.template(require('../includes/nav.html'))(data) %>
      <main>
        <article class="picture" data-main="picture">
          <section class="main-container business ">
            <div class="i_ban swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url(img/ban1.jpg);"></div>
              </div>
            </div>
            <div class="container picture-inner">
              <ul class="nav nav-pills nav-justified">
                <li class="active"><a href="">客房</a></li>
                <li><a href="">会议</a></li>
                <li><a href="">休闲娱乐</a></li>
              </ul>
              <div class="row">
                <div class="item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <div class="inner"><img src="img/pic1.jpg" alt=""></div>
                </div>
                <div class="item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <div class="inner"><img src="img/pic2.jpg" alt=""></div>
                </div>
                <div class="item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <div class="inner"><img src="img/pic3.jpg" alt=""></div>
                </div>

                <div class="item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <div class="inner"><img src="img/pic1.jpg" alt=""></div>
                </div>
                <div class="item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <div class="inner"><img src="img/pic2.jpg" alt=""></div>
                </div>
                <div class="item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <div class="inner"><img src="img/pic3.jpg" alt=""></div>
                </div>

                <div class="item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <div class="inner"><img src="img/pic1.jpg" alt=""></div>
                </div>
                <div class="item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <div class="inner"><img src="img/pic2.jpg" alt=""></div>
                </div>
                <div class="item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <div class="inner"><img src="img/pic3.jpg" alt=""></div>
                </div>
              </div>
            </div>
          </section>
          <div class="pic-show wh-center">
            <div class="close">
              <span></span><span></span>
            </div>
            <div class="pic-content col-lg-6">
              <div class="pc-slide">
                <div class="view">
                  <div class="swiper-container">
                    <a class="arrow-left" href="#"></a>
                    <a class="arrow-right" href="#"></a>
                    <div class="swiper-wrapper">
                      <div class="swiper-slide" ><img src="img/895x488.png" alt=""></div>
                    </div>
                  </div>
                </div>
                <div class="preview">
                  <a class="arrow-left" href="#"></a>
                  <a class="arrow-right" href="#"></a>
                  <div class="swiper-container">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide active-nav">
                        <img src="img/895x488.png" alt="">
                      </div>
                      <div class="swiper-slide active-nav">
                        <img src="img/895x488.png" alt="">
                      </div>
                      <div class="swiper-slide active-nav">
                        <img src="img/895x488.png" alt="">
                      </div>
                      <div class="swiper-slide active-nav">
                        <img src="img/895x488.png" alt="">
                      </div>
                      <div class="swiper-slide active-nav">
                        <img src="img/895x488.png" alt="">
                      </div>
                      <div class="swiper-slide active-nav">
                        <img src="img/895x488.png" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </article>
      </main>

      <%= _.template(require('../includes/footer.html'))(data) %>
