<% var data = {
  title: "首页"
}; %>
  <%= _.template(require('../includes/header.html'))(data) %>
    <%= _.template(require('../includes/nav.html'))(data) %>
      <main>
        <article class="room" data-main="room">
          <section class="main-container business index-inner">
            <div class="i_ban swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/erb_1.jpg" alt=""></div>
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination"></div>
            </div>
            <div class="confer_h container-fluid">
              YBL BROADCAST INTERNATIONAL HOTEL
            </div>
            <div class="container confer_hy">
              <h2><span>会议服务</span></h2>
              <div class="i_video_bt">
                <img src="img/w4.png" alt="">
              </div>
              <p>
                酒店拥有7种不同类型的议场地，并配备专业多媒体设备，可承接贵宾 接待、高层会议、学术报告会、发布会、年会、内训团建等活动及会议，满足您的<br> 各类需求，其中白桦厅可为做为演播大厅，实况转播会议现场。
              </p>
            </div>
            <div class="container-fluid room_all">
              <div class="row">
                <div class="col-md-6">
                  <div class="container-fluid confer_main">
                    <div class="row">
                      <div class="col-md-5 col-sm-12 col-xs-12 confer_main_l" style="background-image: url(../img/con_1.jpg);">
                      </div>
                      <div class="col-md-7  col-sm-12 col-xs-12 confer_main_r">
                        <div class="confer_main_rl">
                          <dl>
                            <dt>
                              <h3><span>豪华山景大床房</span></h3>
                            </dt>
                            <dd>
                              <h4>最多入住人数：2人</h4>
                              <h4>面积：28平方米</h4>
                              <h4>床型：大床：一张双人床（131CM-150CM）</h4>
                            </dd>
                          </dl>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="container-fluid confer_main">
                    <div class="row">
                      <div class="col-md-5 col-sm-12 col-xs-12 confer_main_l" style="background-image: url(../img/con_1.jpg);">
                      </div>
                      <div class="col-md-7  col-sm-12 col-xs-12 confer_main_r">
                        <div class="confer_main_rl">
                          <dl>
                            <dt>
                              <h3><span>豪华山景大床房</span></h3>
                            </dt>
                            <dd>
                              <h4>最多入住人数：2人</h4>
                              <h4>面积：28平方米</h4>
                              <h4>床型：大床：一张双人床（131CM-150CM）</h4>
                            </dd>
                          </dl>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </section>
        </article>
      </main>
      <%= _.template(require('../includes/footer.html'))(data) %>
