<% var data = {
  title: "首页"
}; %>
<%= _.template(require('../includes/header.html'))(data) %>
  <%= _.template(require('../includes/nav.html'))(data) %>
    <main>
      <article class="activity" data-main="activity">
        <section class="main-container business index-inner">
            <div class="i_ban swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../img/ban1.jpg" alt=""></div>
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination"></div>
            </div>
            <div class="container-fluid hd_jj">
              <div class="row i_about pad_up">
                <div class="col-md-12">
                  <div class="i_about_by">
                    <img src="../img/w3.png" alt="">
                  </div>
                  <p>
                    酒店位于海拔500米依山而建，推窗即景，是景区内海拔最高的五星级酒店。酒店大堂面积1000米 ，举架高14米，是目前黑龙江省内面积最大的。 大堂前后完全采用了玻璃幕墙式设计，大大提高了大堂的采光度和通透度，置身于大堂之中，便可尽赏
                    亚布力的崇山峻岭，雪道跳台亦尽收眼底。
                  </p>
                  <div class="hd_lb">
                    <div class="i_ban swiper-container">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="../img/hd_1.jpg" alt=""></div>
                      </div>
                      <!-- Add Pagination -->
                      <div class="swiper-pagination"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
      </article>
    </main>
    <%= _.template(require('../includes/footer.html'))(data) %>
