<% var data = {
  title: "首页"
}; %>
  <%= _.template(require('../includes/header.html'))(data) %>
    <%= _.template(require('../includes/nav.html'))(data) %>
      <main>
        <article class="book" data-main="book">
          <section class="main-container business book-inner">
            <div class="container">
              <div class="col-lg-7 bg"></div>
              <div class="col-lg-5 form">

                <form>
                  <h3>在线预订</h3>
                  <div class="form-group">
                    <label for="exampleInputPassword1">姓名</label>
                    <input type="text" class="form-control" id="name" placeholder="请输入您的姓名">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">联系方式</label>
                    <input type="text" class="form-control" id="tel" placeholder="请输入手机号码">
                  </div>
                  <div class="form-inline">
                    <div class="form-group col-lg-5">
                      <label for="exampleInputPassword1">入住时间</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="请选择入住时间">
                    </div>
                    <div class="form-group col-lg-5 fr">
                      <label for="exampleInputPassword1">离店日期</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="请选择离店日期">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">备注</label>
                    <textarea class="form-control" rows="3"></textarea>
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
              </div>
            </div>
          </section>
        </article>
      </main>

      <%= _.template(require('../includes/footer.html'))(data) %>
