<% var data = {
  title: "首页"
}; %>
<%= _.template(require('../includes/header.html'))(data) %>
  <%= _.template(require('../includes/nav.html'))(data) %>
    <main>
      <article class="index" data-main="index">
        <section class="main-container business index-inner">
            <div class="i_ban swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../img/ban1.jpg" alt=""></div>
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination"></div>
            </div>
            <div class="container">
              <div class="row i_about pad_up">
                <div class="col-md-12">
                  <div class="i_about_by">
                    <img src="../img/w1.png" alt="">
                  </div>
                  <h2>亚布力广电国际酒店</h2>
                  <p>
                    酒店位于海拔500米依山而建，推窗即景，是景区内海拔<br> 最高的五星级酒店。酒店大堂面积1000米 ，举架高14米，是目前黑龙江省内面积最大的。<br> 大堂前后完全采用了玻璃幕墙式设计，大大提高了大堂的采光度和通透度，置身于大堂之中，便可尽赏
                    <br> 亚布力的崇山峻岭，雪道跳台亦尽收眼底。
                    <br>
                  </p>
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <div class="row i_cp">
                <div class="col-xs-12 col-sm-4 reset-pad">
                  <div class="explore-hotel-type-tile">
                    <div class="content">
                      <div class="tile-image">
                        <img class="lazyload" src="../img/cp1.jpg" alt="遇见你的洲际人生">
                      </div>
                      <div class="tile-desc" null="">
                        <div class="tile-header">
                          遇见你的洲际人生</div>
                        <div class="desc-overlay" style="margin-top: -130px;">
                          <div class="desc">
                            <p>
                              在洲际，开启一次全方位感知的旅程<br>
                            </p>
                          </div>
                          <div class="link">
                            <a class="" href="//www.ihg.com/intercontinental/content/cn/zh/explore/theintercontinentallife?cm_sp=OSMAM-IC-GB-EN-HMM1-AIX-MAN-Explore_InterConinentalLife">查看相册</a>
                          </div>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>

                </div>
                <div class="col-xs-12 col-sm-4 reset-pad">
                  <div class="explore-hotel-type-tile">
                    <div class="content">
                      <div class="tile-image">
                        <img class="lazyload" src="../img/cp2.jpg" alt="遇见你的洲际人生">
                      </div>
                      <div class="tile-desc" null="">
                        <div class="tile-header">
                          遇见你的洲际人生</div>
                        <div class="desc-overlay" style="margin-top: -130px;">
                          <div class="desc">
                            <p>
                              在洲际，开启一次全方位感知的旅程<br>
                            </p>
                          </div>
                          <div class="link">
                            <a class="" href="//www.ihg.com/intercontinental/content/cn/zh/explore/theintercontinentallife?cm_sp=OSMAM-IC-GB-EN-HMM1-AIX-MAN-Explore_InterConinentalLife">查看相册</a>
                          </div>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4 reset-pad">
                  <div class="explore-hotel-type-tile">
                    <div class="content">
                      <div class="tile-image">
                        <img class="lazyload" src="../img/cp3.jpg" alt="遇见你的洲际人生">
                      </div>
                      <div class="tile-desc" null="">
                        <div class="tile-header">
                          遇见你的洲际人生</div>
                        <div class="desc-overlay" style="margin-top: -130px;">
                          <div class="desc">
                            <p>
                              在洲际，开启一次全方位感知的旅程<br>
                            </p>
                          </div>
                          <div class="link">
                            <a class="" href="//www.ihg.com/intercontinental/content/cn/zh/explore/theintercontinentallife?cm_sp=OSMAM-IC-GB-EN-HMM1-AIX-MAN-Explore_InterConinentalLife">查看相册</a>
                          </div>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container i_video" id="my">
              <h2><span>我们的品牌</span></h2>
              <div class="i_video_bt">
                <img src="../img/w2.png" alt="">
              </div>
              <div class="i_video_main">
                <video >
                    <source src="../media/11_0.mp4" type="video/mp4" />
                    <source src="movie.ogg" type="video/ogg" />
                    <source src="movie.webm" type="video/webm" />
                    <object data="movie.mp4" width="320" height="240">
                        <embed src="movie.swf" width="320" height="240" />
                    </object>
              </video>
              <div class="video_fm">

              </div>
              </div>
            </div>
            <div class="container-fluid i_three pad_up">
               <div class="row">
                 <div class="col-xs-12 col-sm-4">
                   <div class="i_three_g">
                     <div class="i_three_img">
                       <img src="../img/th1.jpg" alt="">
                     </div>
                     <div class="i_three_bt">
                       会员计划
                     </div>
                     <p>
                       加入亚布力广电国际酒店会员，尊享会员服务体验更多惊喜。
                     </p>
                     <div class="i_three_an">
                       <button type="button" class="btn btn-primary btn-sm">了解更多+</button>
                     </div>
                   </div>
                 </div>
                 <div class="col-xs-12 col-sm-4">
                   <div class="i_three_g">
                     <div class="i_three_img">
                       <img src="../img/th2.jpg" alt="">
                     </div>
                     <div class="i_three_bt">
                       优质价格
                     </div>
                     <p>
                       我们可以为您提供最优惠的价格。
                     </p>
                     <div class="i_three_an">
                       <button type="button" class="btn btn-primary btn-sm">了解更多+</button>
                     </div>
                   </div>
                 </div>
                 <div class="col-xs-12 col-sm-4">
                   <div class="i_three_g">
                     <div class="i_three_img">
                       <img src="../img/th3.jpg" alt="">
                     </div>
                     <div class="i_three_bt">
                       酒店图片
                     </div>
                     <p>
                       品鉴酒店真实环境
                     </p>
                     <div class="i_three_an">
                       <button type="button" class="btn btn-primary btn-sm">了解更多+</button>
                     </div>
                   </div>
                 </div>
               </div>
            </div>
        </section>
      </article>
    </main>

    <%= _.template(require('../includes/footer.html'))(data) %>
