<% var data = {
  title: "酒店图片"
}; %>
  <%= _.template(require('../includes/header.html'))(data) %>
    <%= _.template(require('../includes/nav.html'))(data) %>
      <main>
        <article class="picture" data-main="picture">
          <section class="main-container business picture-inner">
            <div class="container h-center">
              <div class="row">
                <div class="item col-lg-4"><img src="img/pic1.jpg" alt=""></div>
                <div class="item col-lg-4"><img src="img/pic2.jpg" alt=""></div>
                <div class="item col-lg-4"><img src="img/pic3.jpg" alt=""></div>

                <div class="item col-lg-4"><img src="img/pic1.jpg" alt=""></div>
                <div class="item col-lg-4"><img src="img/pic2.jpg" alt=""></div>
                <div class="item col-lg-4"><img src="img/pic3.jpg" alt=""></div>

                <div class="item col-lg-4"><img src="img/pic1.jpg" alt=""></div>
                <div class="item col-lg-4"><img src="img/pic2.jpg" alt=""></div>
                <div class="item col-lg-4"><img src="img/pic3.jpg" alt=""></div>
              </div>
            </div>
          </section>
        </article>
      </main>

      <%= _.template(require('../includes/footer.html'))(data) %>
